<div class="clock-container">
  <div class="clock-col">
    <p class="clock-day clock-timer">
      {{day}} {{date}}
    </p>
    <p class="clock-label">
      Date
    </p>
  </div>
  <div class="clock-col">
    <p class="clock-hours clock-timer">
      {{hours}}
    </p>
    <p class="clock-label">
      Hours
    </p>
  </div>
  <div class="clock-col">
    <p class="clock-minutes clock-timer">
      {{minuts}}
    </p>
    <p class="clock-label">
      Minutes
    </p>
  </div>
  <div class="clock-col">
    <p class="clock-seconds clock-timer">
      {{seconds}}
    </p>
    <p class="clock-label">
      Seconds
    </p>
  </div>
  <div class="clock-col">
    <p class="clock-seconds clock-timer">
      {{ampm}}
    </p>
    <p class="clock-label">
      Period
    </p>
  </div>
</div>