<div class="container">
  <div class="row">
    <div class="col">
      <app-timer></app-timer>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-4 col-sm-6 mt-3" *ngFor="let item of socialsNet">
      <div class="card size-img" style="width: 18rem;">
        <a routerLink="/details" [queryParams]="{id: item.id}">
          <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{item.social_name}}</h5>
          <p class="card-subtitle mt-2">Post : {{item.post | number}}</p>
          <p class="card-subtitle mt-2">Price : {{item.price | currency}}</p>
          <p class="card-text"><small class="text-muted">Last updated 10 days ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Social network</th>
          <th scope="col">Sell</th>
          <th scope="col">Buy</th>
          <th scope="col">Hold</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of socialsNet; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{item.social_name}}</td>
          <td>
            <app-action price="0" type="hold"></app-action>
          </td>
          <td>
            <app-action price="{{item.price}}"  type="buy"></app-action>
          </td>
          <td>
            <app-action price="{{item.price}}" type="sell"></app-action>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>